@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-slider {
  position: relative;
}

.react-slider-thumb {
  position: relative;
  top: -12px; /* Move the thumb above the track */
  z-index: 2; /* Ensure thumbs are above the track */
}

.react-slider-thumb:nth-child(1) {
  background: #4f46e5; /* Color for the left thumb */
}

.react-slider-thumb:nth-child(2) {
  background: #4f46e5; /* Color for the right thumb */
}

/* Fill the area between thumbs */
.react-slider-track::before {
  content: '';
  /* position: absolute; */
  background: #4f46e5; /* Fill color */
  height: 2px; /* Match track height */
  z-index: 2; /* Ensure it's above the track background */
  top: 50%; /* Center vertically */
}

.react-slider-track::before {
  left: calc(var(--min-value) * 0.1%); /* Calculate left position based on min value */
  width: calc((var(--max-value) - var(--min-value)) * 0.1%); /* Calculate width based on min and max values */
}
